/* 초기화 */
	*{ margin:0; padding:0; word-break: keep-all; box-sizing: border-box;}
	body, #wrap, header, nav, #content, section, footer{margin:0; padding:0;}
	header, nav, section, footer{display:block;}
	li{ list-style-type:none; }
	a:link, a:visited{ color:#000; text-decoration:none; }
	img{border:none;}
	h2{position:absolute; left:-9999px; width:1px; height:1px; font-size:1px; line-height:0; overflow:hidden;}